@model List<WebApplication2.Entity.TypeOfBook>

@if (TempData["SUCCESSFUL"] != null)  //Bi kere çalışır null
{
    <h2 style="color:red">@TempData["SUCCESSFUL"]</h2>
}

<!--bootswatch.com/pulse/-->
<div class="container">
    <div>
        <div class="row pt-3 pb-4">
            <!-- tabloyla arada 4 boşluk bırakır -->
            <div>
                <h1>Kitap Türleri</h1>
            </div>
        </div>
    </div>



    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Id</th>
                <th>Kitap Türü</th>
                <th></th>
                <th></th>  <!--Sütun açıyor-->
            </tr>
        </thead>

        <tbody>
            @foreach (var typebook in Model)
            {

                <tr>
                    <td>@typebook.Id</td>
                    <td>@typebook.Name</td>
                    <td>
                        <a onclick="newPage" asp-controller="TypeOfBook" asp-action="Update" asp-route-id="@typebook.Id" type="button" class="btn btn-success" style="width:150px">Güncelle</a>
                    </td> <!--hücre-->
                    <td>
                        <form method="post" asp-action="DeletePost" asp-route-id="@typebook.Id">
                            <button type="submit" class="btn btn-danger" style="width:150px">Sil</button>
                        </form>
                    </td>
                </tr>

            }
        </tbody>

    </table>
    <div class="row pt-3 pb-2">
        <!--boyutu 3 olsun yazının boşlukta 2 olsun-->
        <div>
            <a asp-controller="TypeOfBook" asp-action="AddBook" class="btn btn-lg btn-primary" type="button">
                <!--Hangi Kontrollerin içine gidicem hangi actionu çalıştırıcam-->
                Yeni Kitap Türü Oluştur
            </a>
        </div>
    </div>


</div>